# Ignore Maven build folder
target/

# Ignore GitHub Actions self-hosted runner folder
actions-runner/

# Optional: IDE files
*.iml
.idea/
*.log

# OS files
.DS_Store

# Maven / Java build files
target/
*.class
*.jar
*.log

# Eclipse IDE files
.classpath
.project
.settings/


